/* Variables */
$mobile-lg: "(min-width: 321px) and (max-width: 550px)";
$non-mobile: "(min-width: 551px)";

/* Mixins */
@mixin mediaQueries($arg) {
  @media screen and #{$arg} {
    @content;
  }
}

* {
  color: #343a40;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.default-style {
  align-items: center;
  background-color: #80bfff;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  @include mediaQueries($non-mobile) {
    font-size: 14px;
  }
}

/* Modal */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: 5px 5px 0 0;
  opacity: 0.85;
}

.material-icons.md-14 {
  font-size: 20px;
}

.modal-about {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: .5em;
  top: 100px;
  width: 80%;
  max-width: 400px;
}

.modal-cancel {
  background-color: transparent;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-title {
  color: royalblue;
  font-size: 1.2em;
  padding: .5em;
  text-decoration: underline;
}

.user-stories {
  font-style: italic;
  padding: .5em 2em .5em 2.5em;
}

.story:nth-of-type(2), .story:nth-of-type(3) {
  margin-top: 1em;
}

.modal-text {
  margin: .5em;
}

.copy {
  font-size: 1.1em;
}

.link {
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

.title {
  font-size: 2.4em;
  font-weight: 300;
  margin: .5em 0;
  @include mediaQueries($mobile-lg) {
    margin: .5em 0;
    font-size: 2.6em;
  }
}

.sub-title {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-decoration: underline;
  @include mediaQueries($mobile-lg) {
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }
  @include mediaQueries($non-mobile) {
    margin-top: .5em;
    width: 65%;
    max-width: 500px;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  @include mediaQueries($mobile-lg) {
    width: 85%;
    font-size: 1.25em;
  }
  @include mediaQueries($non-mobile) {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 65%;
    max-width: 500px;
  }
}

.data-column {
  @include mediaQueries($non-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.list {
  display: flex;
  list-style-type: none;
}

.stat-name {
  font-weight: 600;
  margin: .25em 0;
  min-width: 100px;
  width: 35%;
}

.stat-value {
  color: white;
  margin: .25em 0;
}

.units {
  color: white;
  margin: .25em 0;
  padding-left: 1em;
}

.button {
  background-color: transparent;
  border: 1px solid #343a40;
  border-radius: 2px;
  color: #343a40;
  font-size: 1.1em;
  margin-top: 1em;
  padding: .5em;
  text-decoration: none;
  @include mediaQueries($non-mobile) {
    width: 125px;
  }
}

.weather-img {
    align-self: center;
    background-image: url("img/default.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    display: block;
    height: 175px;
    margin-bottom: 1em;
    order: -1;
    width: 100%;
    @include mediaQueries($non-mobile) {
      order: 2;
      margin: 0;
      max-width: 200px;
    }
}

.footer {
  bottom: 0;
  height: 30px;
  left: 0;
  margin-bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  @include mediaQueries($mobile-lg) {
    font-size: 1.25em;
  }
}

.freecodecamp {
  color: white;
  text-decoration: none;
}

/* Alternate Style Sheets */
.cloudy {
  background-image: url("img/clouds.jpg");
}

.rainy {
  background-image: url("img/rain.jpg");
}

.sunny {
  background-image: url("img/clear.jpg");
}

.drizzly {
  background-image: url("img/drizzle.jpg");
}

.stormy {
  background-image: url("img/thunderstorm.jpg");
}

.snowy {
  background-image: url("img/snow.jpg");
}

.error {
  border: 2px solid red;
}
